@charset "utf-8";

a {
  text-decoration: none;
  color: white;
  background-color: rgb(5, 157, 168);
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  background: url(../img/download__icon.svg);
  top: 50%;
  right: 10px;
}